# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node modules
node_modules/

# Vite build
dist/

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sequelize logs
*.log

# VSCode
.vscode/
*.code-workspace

# Miscellaneous
.idea/
